<extend name="Base/common" />

<block name="header">

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h2>用户注册</h2>
    <p><span><span class="pull-left"><span>已经有账号? <a href="{:U('Admin/Public/login')}">点此登录</a> </span> </span></p>
  </div>
</header>
</block>

<block name="body">

<section>

	<div class="span12">
        <form class="login-form" action="__SELF__" method="post">
        
         <div class="control-group">
            <label class="control-label" for="inputEmail">栏目</label>
            <div class="controls">
     
              
              <select name="lanmu" >
<option value="乐人">乐人</option>
<option value="有品">有品</option>
<option value="App">App</option>
<option value="文艺">文艺</option>
</select>
            </div>
          </div>
        
          <div class="control-group">
            <label class="control-label" for="inputEmail">用户名</label>
            <div class="controls">
              <input type="text" id="inputEmail" class="span3" placeholder="请输入用户名"  ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名" nullmsg="请填写用户名" datatype="*1-16" value="" name="username">
            </div>
          </div>
          
          
          <div class="control-group">
            <label class="control-label" for="inputPassword">密码</label>
            <div class="controls">
              <input type="password" id="inputPassword"  class="span3" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">确认密码</label>
            <div class="controls">
              <input type="password" id="inputPassword" class="span3" placeholder="请再次输入密码" recheck="password" errormsg="您两次输入的密码不一致" nullmsg="请填确认密码" datatype="*" name="repassword">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">邮箱</label>
            <div class="controls">
              <input type="text" id="inputEmail" class="span3" placeholder="请输入电子邮件"  ajaxurl="/member/checkUserEmailUnique.html" errormsg="请填写正确格式的邮箱" nullmsg="请填写邮箱" datatype="e" value="" name="email">
            </div>
          </div>
          
         
          
          <div class="control-group">
            <label class="control-label" for="inputEmail">头像</label>
            
            
              <div class="controls">
									<input type="file" id="upload_picture_pimg">
									<input type="hidden" name="pimg" nullmsg="请填写用户名" id="cover_id_pimg"/>
									<div class="upload-img-box">
									</div>
								</div>
								<script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								$("#upload_picture_pimg").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传图片",
							        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
							        "onUploadSuccess" : uploadPicture{$field.name},
							        'onFallback' : function() {
							            alert('未检测到兼容版本的Flash.');
							        }
							    });
								function uploadPicture{$field.name}(file, data){
							    //	var data = $.parseJSON(data);
							    var data =  eval("("+data+")");
							    	var src = '';
							    	
							        if(data.status){
							        	$("#cover_id_pimg").val(data.url);
							        	
							        	src = data.url;
							        	$("#cover_id_pimg").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }
								</script>
            
            
            
              
            
          </div>
          
          <div class="control-group">
            <label class="control-label" for="inputEmail">明信片</label>
             <div class="controls">
									<input type="file" id="upload_picture_card">
									<input type="hidden" name="card" nullmsg="请填写用户名" id="cover_id_card"/>
									<div class="upload-img-box">
									</div>
								</div>
								<script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								$("#upload_picture_card").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传图片",
							        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
							        "onUploadSuccess" : uploadPicture{$field.name},
							        'onFallback' : function() {
							            alert('未检测到兼容版本的Flash.');
							        }
							    });
								function uploadPicture{$field.name}(file, data){
							    	//var data = $.parseJSON(data);
							    	var data =  eval("("+data+")");
							    	var src = '';
							    	
							        if(data.status){
							        	$("#cover_id_card").val(data.url);
							        	
							        	src = data.url;
							        	$("#cover_id_card").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }
								</script>
          </div>
          
           <div class="control-group">
            <label class="control-label" >备注</label>
            <div class="controls">
             
              <textarea  name="remark" cols="30"   rows="4"  nullmsg="清填写备注"
					maxlength="200" class="input-xxlarge" ></textarea>
            </div>
          </div>
          
          
          
          
          <div class="control-group">
            <label class="control-label" for="inputPassword">验证码</label>
            <div class="controls">
              <input type="text" id="inputPassword" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
            </div>
            <div class="controls Validform_checktip text-warning"></div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn"  onclick="return check(this.form)">注 册</button>
            </div>
          </div>
        </form>
	</div>
</section>

</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

    	 function check(form) {

             if(form.username.value=='') {
                   alert("请输入用户帐号!");
                   form.username.focus();
                   return false;
              }
             
             if(form.password.value=='') {
                 alert("请输入密码!");
                 form.password.focus();
                 return false;
            }
             
             if(form.repassword.value=='') {
                 alert("请输入确认密码!");
                 form.repassword.focus();
                 return false;
            }
             
             if(form.email.value=='') {
                 alert("请输入邮箱!");
                 form.email.focus();
                 return false;
            }
             
             if(form.pimg.value=='') {
                 alert("请上传头像!");
                 form.pimg.focus();
                 return false;
            }
             
            if(form.card.value=='') {
                 alert("请上传明信片!");
                 form.card.focus();
                 return false;
            }
            
            
            if(form.remark.value=='') {
                alert("请输入备注!");
                form.remark.focus();
                return false;
           }
        
            return true;
       }
    	
    	
    	
    	$("form").submit(function(){
    		
    		
    		
    		var self = $(this);
    		
     
    		
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>
